@lightGray: #ccc;

body {
	font-family: Arial;
}

#LeftSidebar {
	padding: 15px 0 0 15px;
	#Logo {
		.logo {
			font-size: 22px;
			font-weight: bold;
			margin: 0;
			line-height: 16px;
		}
		.catchphrase {
			margin: 0;
			color: @lightGray;
			font-size: 12px;
		}
	}
}