body {
  background: #eeeeee;
  padding: 0 0 30px 0;
  margin: 0; }

.container {
  width: 800px;
  clear: both;
  margin: 0 auto; }
  .container #mainList {
    padding: 40px 20px 20px 20px;
    background: white;
    height: 500px;
    font-family: "Courier New", Arial; }
    .container #mainList h1 {
      color: blue; }
    .container #mainList .task .content .character {
      display: inline-block;
      font-size: 13px;
      text-align: center;
      width: 9px;
      transition: background-color 0.05s;
      -webkit-transition: background-color 0.05s; }
      .container #mainList .task .content .character:hover {
        background-color: #eeeeee; }
      .container #mainList .task .content .character.dot {
        font-size: 40px;
        font-weight: bold; }
    .container #mainList .task .children {
      padding: 0 0 0 20px; }
    .container #mainList.show-cursor .character.cursor {
      box-shadow: inset -1px 0 0 #555555; }
      .container #mainList.show-cursor .character.cursor.sentinel {
        box-shadow: inset 1px 0 0 #555555; }
    .container #mainList.show-cursor.command_mode .character.cursor {
      background-color: #555555;
      color: white; }

#statusBar {
  top: 0;
  font-family: Arial, Verdana;
  height: 20px;
  left: 0;
  position: fixed;
  right: 0; }
  #statusBar #logo {
    float: left;
    color: black;
    font-size: 14px;
    margin: 5px 8px; }
  #statusBar #status {
    background-color: green;
    color: white;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    float: right;
    font-size: 10px;
    padding: 4px 10px;
    margin: 2px 10px 0 0;
    display: block;
    border-radius: 2px; }
    #statusBar #status .command {
      display: none; }
    #statusBar #status .insert {
      display: block; }
    #statusBar #status.command_mode {
      background-color: #2b8cb9; }
      #statusBar #status.command_mode .command {
        display: block; }
      #statusBar #status.command_mode .insert {
        display: none; }
  #statusBar .container {
    padding: 3px 0 0 0;
    color: #eeeeee;
    background: white;
    border-bottom: 1px solid #eeeeee; }

.clear {
  clear: both; }
