body {
  background: #eeeeee;
  padding: 0 0 30px 0;
  margin: 0; }

.container {
  width: 800px;
  clear: both;
  margin: 0 auto; }
  .container #mainList {
    padding: 40px 20px 20px 20px;
    background: white;
    height: 500px;
    font-family: "Courier New", Arial;
    overflow: hidden; }
    .container #mainList h1 {
      color: blue; }
    .container #mainList .task .content .character {
      position: relative;
      display: inline-block;
      font-size: 13px;
      text-align: center;
      width: 9px;
      transition: background-color 0.05s;
      -webkit-transition: background-color 0.05s; }
      .container #mainList .task .content .character:hover {
        background-color: #eeeeee; }
      .container #mainList .task .content .character.dot {
        font-size: 40px;
        font-weight: bold; }
      .container #mainList .task .content .character.cursor .bottom-row {
        display: block; }
      .container #mainList .task .content .character .bottom-row {
        display: none;
        position: absolute;
        left: -1000px;
        width: 5000px;
        bottom: 0;
        height: 1px;
        background-color: #eeeeee; }
    .container #mainList .task .content.sentinel {
      display: none; }
    .container #mainList .task .children {
      padding: 0 0 0 20px; }
    .container #mainList.show-cursor .character.cursor {
      box-shadow: inset -1px 0 0 #555555; }
      .container #mainList.show-cursor .character.cursor.sentinel {
        box-shadow: inset 1px 0 0 #555555; }
    .container #mainList.show-cursor.command_mode .character.cursor {
      background-color: #555555;
      color: white; }

#statusBar {
  position: relative;
  top: 0;
  font-family: Arial, Verdana;
  height: 20px;
  left: 0;
  position: fixed;
  right: 0; }
  #statusBar #logo {
    float: left;
    color: black;
    font-size: 14px;
    margin: 5px 8px; }
  #statusBar #status {
    background-color: green;
    overflow: hidden;
    color: white;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.1);
    float: right;
    font-size: 10px;
    padding: 4px 10px;
    margin: 2px 10px 0 0;
    display: block;
    border-radius: 2px;
    height: 12px;
    width: 88px;
    position: relative;
    transition: background-color 0.2s;
    -o-transition: background-color 0.2s;
    -webkit-transition: background-color 0.2s;
    -moz-transition: background-color 0.2s; }
    #statusBar #status .command {
      position: absolute;
      top: -20px;
      left: 17px;
      transition: top 0.2s;
      -o-transition: top 0.2s;
      -webkit-transition: top 0.2s;
      -moz-transition: top 0.2s; }
    #statusBar #status .insert {
      position: absolute;
      top: 5px;
      left: 26px;
      transition: top 0.2s;
      -o-transition: top 0.2s;
      -webkit-transition: top 0.2s;
      -moz-transition: top 0.2s; }
    #statusBar #status.command_mode {
      background-color: #2b8cb9; }
      #statusBar #status.command_mode .command {
        top: 5px;
        left: 17px; }
      #statusBar #status.command_mode .insert {
        top: 40px;
        left: 26px; }
  #statusBar .container {
    padding: 3px 0 0 0;
    color: #eeeeee;
    background: white;
    border-bottom: 1px solid #eeeeee; }

.clear {
  clear: both; }

.jasmine_reporter {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: white;
  padding: 15px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  max-height: 300px;
  overflow-y: auto; }
